/* styles.css */
.form-max{
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

h1 {
  text-align: center;
  margin: 50px;
  padding: 10px;
}

.form-group {
  margin-bottom: 30px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
select {
  width: 500px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea{
  width: 500px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.color-options label {
  display: inline-block;
  margin-right: 10px;
}

.color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.color1 {
  background-color: #fffff9;
}

.color2 {
  background-color: #ffffdb;
}

.color3 {
  background-color: #f7e2b9;
}

.color4 {
  background-color: #e9f8d1;
}

.color5 {
  background-color: #daf6f9;
}

.color6 {
  background-color: #f2ecff;
}

.color7 {
  background-color: #fff4ff;
}

.color8 {
  background-color: #ff6b6b;
}

.color9 {
  background-color: #cca6ac;
}

.color10 {
  background-color: #efefef;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ff6b6b;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group label {
  margin-right: 10px;
}

.notification-options {
  display: flex;
  align-items: center;
}

.notification-options label {
  margin-right: 10px;
}