header{
  display: flex;
}

.left-container {
 margin: 0;
 padding: 0;
}

.right-container {
  width: 100%;
}

#side-header,
#main-header,
#side-bar,
#main-bar,
#form {
  padding: 20px;
}

#side-header {
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  background-color:#fff0f5
}

#main-header {
  border: solid #fff0f5;
  border-width:4px 0 4px 0;
  height: 90px;
  display: flex;
  justify-content: flex-end;
}

.calendar{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 50px;
}

ul {
  list-style:none;
  margin: 0;
  padding: 0 20px;
  }
  
ul li {
  display: inline-block;
  padding: 0 10px;
  }

#side-bar {
  width: 300px;
  height: 100vh;
  background-color: #fff0f5;
}

.side-content{
  font-size: 20px;
}

.side-content ul {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 40px;
}

.side-content li {
  padding: 30px;
}

#main-bar,
#form {
  height: 100vh;
}

.button-wrap {
  margin: 0;
}

.button {
  display: inline-block;
  background-color: #ff6b6b;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #ff4f4f;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 70px;
  color: #333;
  font-family: 'Cherry Bomb One', cursive;
}

.paw-image{
  width: 10px;
  height: 10px;
  margin: 0 10px;
}

.paw-image2{
  width: 50px;
  height: 50px;
  text-align: center;
}

.plan-title2{
  font-size: 14px;
  color: #ff6b6b;
}

.plan-title3{
  text-align: center;
}