/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #000000;
}

.notification-list {
  margin-top: 5px;
}

.notification-list li {
  list-style: none;
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: bold;
  color: #ff6b6b;
}

.notification-list li:before {
  content: '\2022';
  margin-right: 5px;
}

/* フォームグループのスタイル */
.form-group {
  margin-bottom: 20px;
}

/* 予定入力ラベルのスタイル */
.input-label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* 予定タイトルのスタイル */
.plan-title {
  font-size: 21px;
  color: #ff6b6b;
}


.color-sample {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.form-button {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}