<header class="top-page-header">
<link rel="stylesheet" href="app/assets/stylesheets/plan.css">
  <div class="top">
    <% if user_signed_in? %>
      <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "button" %>
    <% end %>
  </div>
</header>
