  <div class="howto">
  <br><br><br><br>
  <h4><%= image_tag "nikukyu1.png",:width => '30', :height => '30' %>　PawDo使い方　<%= image_tag "nikukyu1.png",:width => '30', :height => '30' %></h4>
    <p>1. 予定作成リンクより入力フォームへご登録ください</p>
    <p>2. 各種カレンダーを選択して内容を確認できます</p>
    <p>3. TODOリンクをクリックすると本日のTODOが別タブで表示されます</p>
    <p>4. 予定時間になりますと音と背景色により通知が来ます</p>
  </div>

