 <div id="side-bar">
    <!-- 左下セクション -->
    <div class="side-content">
    <ul>
      <li><a href="#">＋予定作成</a></li>
      <li><a href="#">TODO</a></li>
      <li><a href="#">繰り返し予定</a></li>
    </ul>
    </div>
  </div>
