<div id="side-bar">
  <div class="side-content">
    <ul>
      <li><%= link_to '＋予定作成', new_plan_path, remote: true, id: 'create-plan-link' %></li>
      <li><a href="#">TODO</a></li>
      <li><a href="#">繰り返し予定</a></li>
    </ul>
  </div>
</div>
