<div id="side-header">
      <a href="/plans" class="logo"><%= image_tag "nikukyu1.png",:width => '30', :height => '30' %>PawDo<%= image_tag "nikukyu1.png",:width => '30', :height => '30' %></a>
</div>
