 <div id="side-bar">
    <!-- 左下セクション -->
    <div class="side-content">
    <ul>
      <li><%= link_to '＋予定作成', new_plan_path, remote: true, id: 'create-plan-link' %></li>
      <li><%= link_to "Todo", todo_path, target: "_blank" %></li>
      <li><a href="#">繰り返し予定</a></li>
    </ul>
    </div>
  </div>
